name: Automatic Approve
on: pull_request_target

jobs:
  automatic-approve:
    name: Automatic Approve
    runs-on: ubuntu-latest
    steps:
      - name: Automatic Approve
        uses: mheap/automatic-approve-action@v1
        with:
          token: ${{ secrets.CSUET_KEY }}
#           github-token: ${{ secrets.AdvProg }} # lá»—i key
#           token: ${{ secrets.AdvProg }} # Error: Input required and not supplied: token
#           workflows: "action.yml"
#           dangerous_files: "mainTest.cpp"
